@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<dotMVC.Data.sizegiay>

<div class="container">
    <h2 class="text-center">Chỉnh sửa kích thước</h2>

    @foreach (var product in Model)
    {
        <form id="editSizeForm" action="@Url.Action("EditSizeAction")" method="POST">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <input type="hidden" name="idsize" value="@product.Idsize" />
                <label for="size">Kích thước:</label>
                <input type="text" class="form-control" name="size" value="@product.size" />
            </div>

            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>
    }

    <div class="mt-3">
        @Html.ActionLink("Quay lại", "Size", null, new { @class = "btn btn-secondary" })
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#editSizeForm').submit(function (event) {
                event.preventDefault(); // Ngăn chặn hành động mặc định của form

                var form = $(this);
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response) {
                        // Hiển thị thông báo SweetAlert khi chỉnh sửa kích thước thành công
                        Swal.fire({
                            icon: 'success',
                            title: 'Chỉnh sửa kích thước thành công!',
                            text: 'Nhấn OK để đóng thông báo',
                            showConfirmButton: true, // Hiển thị nút "OK"
                            confirmButtonText: 'OK' // Đặt nhãn cho nút "OK"
                        }).then(function () {
                            // Không cần làm gì sau khi nhấn OK
                        });
                    },
                    error: function () {
                        // Xử lý lỗi nếu có
                        Swal.fire({
                            icon: 'error',
                            title: 'Đã xảy ra lỗi!',
                            text: 'Đã có lỗi xảy ra trong quá trình chỉnh sửa kích thước.',
                            showConfirmButton: true, // Hiển thị nút "OK"
                            confirmButtonText: 'OK' // Đặt nhãn cho nút "OK"
                        });
                    }
                });
            });
        });
    </script>
}
